{% extends "index.html" %}
{% block content %}
<div class="border border-dark rounded rounded-sm">

    <p class="text-center mt-2 pt-2 font-weight-bold">Start writing your content and make sure it’s amazing.</p>
    <p class="text-center font-weight-bold">You can research your topic before you start writing.</p>
    <p class="text-center font-weight-bold">You can write you content change your profile picture delete and update your post.Explore as much as you can.</p>
    <p class="text-center font-weight-bold">Are you good at blogging and writing content for websites or blogs? Would you like to try to test your skills? It may not pay you but are interested to try?
    </p>
</div>
{% endblock content %}